.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-item > ul {
  font-size: 24px;
  display: flex;
  list-style: none;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px; 
}

.search {
  padding: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
}
.res-card {
  margin:5px;
  padding: 5px;
  width: 200px;
  background-color: aliceblue;
}

.res-card:hover{
  cursor: pointer;
  border: 1px solid black;
}

.res-logo{
  width: 100%;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}
.login{
  margin: 10px 9px 10px 14px;
  cursor: pointer;
  width: 106px;
  height: 53px;
  border: 1px solid blue;
  border-radius: 45px 45px 45px 45px;
}
.filter{
  display: flex;
}